:root {
  --background-cor-site: #f1dac0;
  --titulo-principal: rgb(37, 24, 4);
  --tipo-cor: black;
  --agua-cor: #6890F0;
  --dragao-cor: #6F35FC;
  --eletrico-cor: #F7D02C;
  --fada-cor: #EE99AC;
  --fantasma-cor:#705898;
  --fogo-cor:  	#F08030;
  --gelo-cor: #98D8D8;
  --grama-cor: #78C850;
  --inseto-cor: #A8B820;
  --lutador-cor: #C03028;
  --metal-cor: #B8B8D0;
  --normal-cor: #A8A878;
  --noturno-cor: #705848;
  --pedra-cor: #B8A038;
  --psiquico-cor: #F85888;
  --terra-cor: #E0C068;
  --veneno-cor: #A040A0;
  --voador-cor: #A890F0;
  --outfit-fonte: 'Outfit', sans-serif;
  --titulo-secundario: #6F35FC;
}

body {
  text-align: center;
  font-family:'Outfit', sans-serif;
  background-image: url(../img/PLA.jpg);
  background-position:top;
  background-size: auto;
  color: var(--type-color);
  background-color: var(--background-cor-site);
}

.titulo-principal {
  text-align: center;
  font-family: var(--outfit-fonte);
  font-weight: 500;
  font-size: 200%;
  color:var(--titulo-principal);
  margin: 2.5%;
  background-color: var(--background-cor-site);
  padding: 0.1vw;
  box-sizing: border-box;
  width: 40%;
  margin-left: 30%;
  position: center;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 110%;
  margin-top: 1.1em;
}

.tipos { 
  background-color: var(--background-cor-site);
  max-width:35%;
  margin: auto;
  align-content: center;
  top: 1.5%;
}

.tipos li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 0.3em;
  font-family: 'Outfit', sans-serif;
}

a:link{
  text-decoration: none;
  color: var(--type-color);
}
a:visited {
  text-decoration: none;
  color: var(--type-color);
}

#agua:hover {
  animation-name: background-color-agua;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-agua {
    100% {
      background-color: var(--agua-cor);
    }
}
#dragao:hover {
  animation-name: background-color-dragao;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-dragao {
    100% {
      background-color: var(--dragao-cor);
    }
}

#eletrico:hover {
  animation-name: background-color-eletrico;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-eletrico {
    100% {
      background-color: var(--eletrico-cor);
    }
}

#fada:hover {
  animation-name: background-color-fada;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-fada {
    100% {
      background-color: var(--fada-cor);
    }
}

#fantasma:hover {
  animation-name: background-color-fantasma;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-fantasma {
    100% {
      background-color: var(--fantasma-cor);
    }
}

#fogo:hover {
  animation-name: background-color-fogo;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-fogo {
    100% {
      background-color: var(--fogo-cor);
    }
}

#gelo:hover {
  animation-name: background-color-gelo;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-gelo {
    100% {
      background-color: var(--gelo-cor);
    }
}

#grama:hover {
  animation-name: background-color-grama;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-grama {
    100% {
      background-color: var(--grama-cor);
    }
}

#inseto:hover {
  animation-name: background-color-inseto;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-inseto {
    100% {
      background-color: var(--inseto-cor);
    }
}

#lutador:hover {
  animation-name: background-color-lutador;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-lutador {
    100% {
      background-color: var(--lutador-cor);
    }
}

#metal:hover {
  animation-name: background-color-metal;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-metal {
    100% {
      background-color: var(--metal-cor);
    }
}

#normal:hover {
  animation-name: background-color-normal;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-normal {
    100% {
      background-color: var(--normal-cor);
    }
}

#noturno:hover {
  animation-name: background-color-noturno;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-noturno {
    100% {
      background-color: var(--noturno-cor);
    }
}

#pedra:hover {
  animation-name: background-color-pedra;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-pedra {
    100% {
      background-color: var(--pedra-cor);
    }
}

#psiquico:hover {
  animation-name: background-color-psiquico;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-psiquico {
    100% {
      background-color: var(--psiquico-cor);
    }
}

#terra:hover {
  animation-name: background-color-terra;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-terra {
    100% {
      background-color: var(--terra-cor);
    }
}

#veneno:hover {
  animation-name: background-color-veneno;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-veneno {
    100% {
      background-color: var(--veneno-cor);
    }
}

#voador:hover {
  animation-name: background-color-voador;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color-voador {
    100% {
      background-color: var(--voador-cor);
    }
}

.titulo-final {
  font-weight: 800;
  font-size: 1.5em;
  line-height: 2;
  color: var(--titulo-secundario);
  max-width: 30%;
  align-content: center;
  margin: auto;
  text-align: center;
  padding: 0.2rem;
  margin-top: 2.1em;
  background-color: var(--background-cor-site);
}
